<%- include('header.ejs'); %>
<div class='container'>
    <h1><%=title%></h1>
    <a href="/profile">Profile</a>

    <%- include('summary', {account: accounts.checking}) %><br>
    <%- include('summary', {account: accounts.savings}) %><br>
    <%- include('summary', {account: accounts.credit}) %><br>
</div>
<br><a href="/transfer">Transfer</a>
<%- include('footer.ejs'); %>